<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    <title>Devlogs | zmiana hasła</title>
  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="logotype">
          <img src="{{ url_for('static',filename='imgs/logo.png') }}" alt="logotype" />
        </div>
      </header>
      <main>
        <div class="error-container">
          <h2 class="error-h2">404</h2>
          <p class="error-p">
            Myślał kogut o niedzieli, a w sobotę łeb ucieli...
          </p>
          <img src="{{ url_for('static',filename='imgs/nature.png') }}" alt="" />
        </div>
      </main>
    </div>
  </body>
</html>
